<.header>
  New User feedback
  <:subtitle>Use this form to manage user_feedback records in your database.</:subtitle>
</.header>

<.user_feedback_form changeset={@changeset} action={~p"/user_feedbacks"} />

<.back navigate={~p"/user_feedbacks"}>Back to home</.back>
