<h1 class="text-5xl">Kontact</h1>
<p class="my-5">Lorem natus distinctio incidunt tempore saepe sit. Sequi ipsum consequuntur molestiae fugiat culpa? Voluptatibus deserunt velit impedit facilis dolor! Explicabo quos nulla suscipit nam quos at accusamus? Ipsum quam sed?</p>

<ul class="text-blue-500">
  <li><a href={~p"/new"}>New</a></li>
  <li><a href={~p"/kontacts"}>Kontact List</a></li>
</ul>
